# TYPE  DATABASE        USER            ADDRESS                 METHOD

# "local" is for Unix domain socket connections only
local   all             all                                     peer
# IPv4 local connections:
{% if cluster == 0 %}
host    all             all             127.0.0.1/32             md5
host    all             all             {{ omni_fqdn }}          md5
{% elif cluster != 0 %}
host    all             all             127.0.0.1/32             md5
host    all             all             {{ omniapp_fqdn }}       md5
host    all             all             {{ asterisk_fqdn }}      md5
host    all             all             {{ kamailio_fqdn }}      md5
host    all             all             {{ database_fqdn }}      md5
{% else %}
host    all             all             all                      md5
{% endif %}
# IPv6 local connections:
host    all             all             ::1/128                 md5
# Allow replication connections from localhost, by a user with the
# replication privilege.
#local   replication     postgres                                peer
#host    replication     postgres        127.0.0.1/32            ident
#host    replication     postgres        ::1/128                 ident
