# Add extra options here
{% if public_ip is not defined %}
OPTIONS="-i internal/{{ kamailio_ip }} -n 127.0.0.1:22222 -m 20000 -M 30000 -L 7 --log-facility=local1"
{% else %}
OPTIONS="-i external/{{ kamailio_ip }}!{{ public_ip }} -n 127.0.0.1:22222 -m 20000 -M 30000 -L 7 --log-facility=local1"
{% endif %}
